* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 25px;
    width: 80%;
    height: 80vh;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    width: 60%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px;
}

.logout-btn {
    width: 100%;
}

main {
    margin: 20px auto;
    text-align: center;
}

.add-book {
    margin-top: 0;
    width: 50%;
    height: 50px;
    padding: 10px;
    border: none;
}

.add-book form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.add-book input {
    width: 30%;
    margin-bottom: 0;
}

.add-book button {
    width: 20%;
    margin-top: 0;
}

table {
    margin: 0 auto;
    border: 1px solid black;
    max-width: 100vw;
}

table td, 
table th {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 200px;
}

table td {
    height: 50px;
}

table td:last-of-type,
table th:last-of-type {
    border-right: none;
}

table:last-child {
    border-bottom: none;
}
